{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "reducers": "./src/redux-flow/reducers",
        "layout": "./src/layout",
        "style": "./src/style",
        "screens": "./src/screens",
        "components": "./src/components",
        "utils": "./src/utils"
      }
    }]
  ]
}
